---
layout: base
title: Computer Anonymous - London
---
<h1>Computer Anonymous — London group</h1>

<p>Read <a href="index.html">The overview</a> if you haven't already, especially the code of conduct.</p>

<h2>Next event</h2>

<p><b>Date/time/venue:</b> Wednesday June 3rd 2015, at <a href="http://www.nicholsonspubs.co.uk/thestgeorgestavernvictorialondon/">St George's Tavern</a>, 14 Belgrave Road, London, SW1V 1QD, from 6pm.</p>

<p><b>Getting there and finding us:</b> The closest station is Victoria.  Once in the pub, look out for a "Computer Anonymous" sign.</p>

<p><b>Accessibility:</b> Step-free to enter, to the bar, to the seating, and to the RADAR-locked accessible toilet.</p>

<p><b>Food and drink:</b> Six real ales at £3.60–£4/pint. Lime and soda £1.20/pint.  Main courses (including four vegetarian) £9–£12.25 (vegetarian main courses £9.50-£10.50).</p>

<p><b><a href="https://www.facebook.com/events/762685077180642/">Facebook event</a></b></p>

<h2>History</h2>

<p>Once upon a time, there were four London Computer Anonymous groups, the most active of which was <a href="http://computeranonymous.org/uk_east_london.html">East London</a>. 
<a href="http://computeranonymous.org/uk_west_london.html">West London</a> also met on occasion, but rarely actually in the west.
<a href="http://computeranonymous.org/uk_central_london.html">Central London</a> met once, but sadly, <a href="http://computeranonymous.org/uk_north_london.html">North London</a> still haven't.</p>

<p>One day, these groups may become active again, but for now, the group formerly known as West London, is holding irregular meet ups, under the guise of Computer Anonymous - London.</a></p>
