---
layout: base
title: Computer Anonymous - Portland
---
<h1>Computer Anonymous — Portland, ME</h1>

<p>This might be the group for you if you want to meet socially conscious nerds to talk about interesting things. This is not an entrepreneurial meetup, nor is it networking: It is a support group, a place to meet good people and talk about good and bad things.</p>

<p>Although education and outreach are both important to us, the primary goal is to create a social group for people in and around tech, from all backgrounds, where they feel comfortable and welcome.</p>

<p>If you're interested in joining, why not <a href="http://portland-ca-slackin.herokuapp.com">join our slack community</a>?</p>

<h3>The Meetings</h3>

<p>Our June meeting will be <b>June 2, 7PM at <a href="http://novareresbiercafe.com/">Novare Res</a></b></p>

<p>Hope to see you there!

<h3>Questions/Problems?</h3>

<p>Talk to us if you want to attend, or just turn up!</p>

<p><a href="http://portland-ca-slackin.herokuapp.com">Join our slack community!</a></p>

<p>We're on twitter at: <a href="https://twitter.com/jsmecham">@jsmecham</a> <a href="https://twitter.com/llimllib">@llimllib</a> <a href="https://twitter.com/neruson">@neruson</a> <a href="https://twitter.com/n01s3">@n01s3</a>

<p>Feel free to email <a href="mailto:ComputerAnonymousPortland@gmail.com">ComputerAnonymousPortland@gmail.com</a> to join the email list, or if you have any private questions.</p>
